*.apk
*.ap_
*.aab
*.dex
*.class
*.jks

bin/
gen/

local.properties

Thumbs.db

*.iml
.idea
#.idea/workspace.xml
.gradle
keystore/
build/
app/build/generated
app/build/intermediates
app/build/kotlin
app/build/tmp
app/build/outputs/logs
output-metadata.json
.navigation
captures/
output.json
 

obj/
.externalNativeBuild